/* define o estilo do footer */
footer {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #44475A;
    color: #fff;
}

/* define o estilo dos icones de redes sociais no footer */
footer .redesSociais {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

/* define o tamanho dos icones de redes sociais no footer */
footer .redesSociais a{
    padding: 0 20px;
    height: 100px;
}

/* alinha as imagens verticalmente */
footer .redesSociais a img {
    vertical-align: middle;
}