/* ########################### Formação ###########################*/


main {
    padding: 30px;
}

main section .content {
    padding: 40px 4%;
}

main section .flex {
    gap: 90px;
    color: #fff;
}

main .content h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px 0;
    color: #fff;
}

main .content strong{
    color: #8BE9FD;
    font-weight: bold;
    text-decoration: none;
}

main .content a{
    text-decoration: none;
}

main .content p {
    font-size: 20px;
    margin-right: auto;
}

main .content .imagem {
    border-radius: 3px;
}

main .imagem img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

/* Rodapé */

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #44475A;
    color: #fff;
}

footer .redesSociais {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

footer .redesSociais a{
    padding: 0 20px;
    height: 100px;
}

footer .redesSociais a img {
    vertical-align: middle;
}