/* ########################### Estilo Geral ###########################*/

/* reseta o código */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* atribui estilo padrão */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #282A36;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}