/* Estrutura do site */

* {
    box-sizing: border-box;
    background-color: cadetblue;
}

header {
    border: 1px solid white;
    padding: 15px;
}

/* Animação menu superior */

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
} 
